<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="0618242d-2f94-4d01-957f-1d90105fd1c0" Version="1.0.0.0" Publisher="CN=Jirat" />
  <Properties>
    <DisplayName>MetroGram</DisplayName>
    <Description>MetroGram</Description>
    <PublisherDisplayName>Jirat</PublisherDisplayName>
    <Logo>images\storelogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2</OSMinVersion>
    <OSMaxVersionTested>6.2</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" StartPage="default.html">
      <VisualElements DisplayName="MetroGram" Logo="images\logo.png" SmallLogo="images\smalllogo.png" Description="MetroGram" ForegroundText="light" BackgroundColor="#000000">
        <DefaultTile ShowName="allLogos" WideLogo="tile-sdk.png" />
        <SplashScreen Image="images\splashscreen.png" />
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
    <DeviceCapability Name="location" />
  </Capabilities>
</Package>